# Maven
target/

# Eclipse
.classpath
.project
.settings/

# Java
*.class

# Logs
*.log

# Test reports
test-output/
reports/

# IntelliJ IDEA
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak